/*____________________________________modal ____________________________________*/
.btn{
  position: absolute;
  top: 10px;
  right: 10px;

  border: gray solid 1px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: #fff;
  z-index: 2;
  cursor: pointer;
}

.overlay{
  position: fixed;
  left: 0;right: 0; top: 0;bottom: 0;
  background: #000;
  color: #fff;
  z-index: 1;


  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  opacity: 0;
  visibility: hidden;
}
.overlay.active{
  opacity: 1;
  visibility: visible;
}
.modal{
  text-align: center;
  min-width: 25vw;
  animation:  x 1.6s, out-modal 2s ease-in-out;
  animation-delay: 2s;
}
.modal-i-am{
  font-size: 1.5em;
}
.modal-my-name{
  font-size: 1.8em;
}
.modal-my-name::after{
  content: ' Gonzalez';
}
.modal-my-name::before{
  content: 'Diego ';
}
.modal-motivacion{
  font-size: .8em;
}
.modal-important{
  color: #0e699e;
  font-size: 1.2em;
}
.modal-important::after, .modal-important::before{
  content: '"'
}

/*______________loading_________________________*/
.canvas{
  position: relative;
  margin-top: 50px;
}
.box{
  background: #000;
}
.punto{
  height: 20px;
  width: 20px;
  border: solid 3px lightgray;
  border-radius: 50%;
  display: inline-block;
}
.punto:nth-of-type(1){
  animation: ani 1s ease-in-out 5;
}
.punto:nth-of-type(2){
  animation: ani 1s ease-in-out 5;
  animation-delay: .3s;
}
.punto:nth-of-type(3){
  animation: ani 1s ease-in-out 5;
  animation-delay: .6s;
}

/*_____________keyframs______________________*/
@keyframes x {
  from{
    transition: translateY(0);
  }
  to{
    transition: translateY(1);
  }
}
@keyframes  out-modal {
  from{
    transform: translate(0);
  }
  80%{
    transform: translateX(calc(50vw - 50%));
  }
  to{
    transform: translateX(calc(50vw - 50%));
  }
}
/*______________puntos_________________  */
@keyframes ani {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
  to{
    transform: translateY(0);
  }
}
