/*____________________________________out______________________________________*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ie7r9r');
  src:  url('../fonts/icomoon.eot?ie7r9r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ie7r9r') format('truetype'),
    url('../fonts/icomoon.woff?ie7r9r') format('woff'),
    url('../fonts/icomoon.svg?ie7r9r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "  \1f326";
}
.icon-email::after {
  content: "  \e945";
}
.icon-cross:before {
  content: "  \ea0f";
}
.icon-checkmark:before {
  content: "  \ea10";
}
.icon-circle-down:before {
  content: "  \ea43";
}
.icon-github::after {
  content: "  \eab0";
}
.icon-linkedin::after {
  content: "  \eac9";
}
.icon-codepen::after {
  content: "  \eae8";
}
/*----------------------  */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Roboto');
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Maven Pro', sans-serif;
 */

/*____________________________________global___________________________________*/
:root{
  --my-blue: #0078ff ;
  --my-red: #ff0000 ;
  --my-bg-blue: radial-gradient(circle, #0078FF, #000);
  --my-bg-red:  radial-gradient(circle, #ff0000, #000);
}
body{
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;

	position: relative;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
  
  font-family: 'Roboto', sans-serif;
}
*::selection{
	background: lightblue;
	color: #000;

}
a{
	color: #fff;
	text-decoration: none;

	transition: .4s;
}
a:hover{
  color: var(--my-blue);
}
a:active{
	color: var(--my-red);
}
h2{
  font-size: 2.5em;
}


/*____________________________________landblock___________________________________*/

.landblock{
	background: #000;
	color: #fff;
	min-height: 100vh;

	position: relative;

	display: flex;
	flex-direction: column;
  align-items: flex-end;
  

}


/*--Introduction--*/

.introduction{
	text-align: center;

	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.introduction *{
  background: #fff;
  color: #000;
  margin: 0 0 5px 0;
  padding-left: .4em;
  padding-right: 40px;

  
} 
.introduction h1{
  font-size: 4em;
}
.introduction h3{
  font-size: 2em;
}

.navegation-portafolio{
	margin: 0 auto;

	min-height: 35px;
	max-width: 35px;
	font-size: 2em;
	border: solid rgba(0,0,0,.3) .8px;

	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: translateY(-2vh);
}
 
/*____________________________________portafolio___________________________________*/
.portafolio{
	flex: 1;
  text-align: center;
  padding-bottom: 2em;

}
.show-web-sides{
  max-width: 900px;
  margin: 0 auto;


  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
}
.box{
  max-width: 80vw;
  border:  solid 1px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .4);
  max-height: 203px;
  margin-bottom: 2em;
  
  position: relative;
  display: flex;
}
.aside-box{
  width: 2.3vw;
  height: 100%;
  border-right: solid .5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
}
.circule-btn{
  width: 1.2vw;
  height: 1.2vw;
  margin: 5px 0;
  border: solid 1px;
  border-radius: 50%;

  cursor: pointer;
}
.circule-btn1{
  background: var(--my-bg-red);
}
.circule-btn2{
  background: var(--my-bg-blue);
}

.images{
  width: 25vw;
  min-width: 250px;
  margin: 0;
  
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: rgba(255, 255, 255, .2);

  transition: .7s opacity, .7s visibility;
}
.box:hover .overlay{
  opacity: 0;
  visibility: hidden;
}
.images img{
  width: 100%;
  object-fit: cover;
  padding-bottom: 0;
  vertical-align: bottom;
}
.description{
  border-left: solid .5px;
}
.slide{
  overflow-x: hidden;
  overflow-y:  hidden;
  width: 0;
  transition: .7s;
  text-align: left;
}
.content-slide{
  padding-left: 40px;
}
.content-slide a{
  color: #000;
  text-decoration: underline;
}.content-slide a:hover{
  color: var(--my-blue);
}
.content-slide a:active{
  color: var(--my-red);
}
.content-slide h3{
  font-size: 2em;
  margin-bottom: .5em;
}

/*____________________________________footer___________________________________*/

.footer{
  color: #fff;
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

}


.menu-footer{
  text-decoration: none;
}
.my-email{
  padding: 0 20px;
}
.items{
  padding: 0;
  margin: 0;
}
.item{
  display: inline-block;
  padding: 20px 0;

}
.item a{
  border-left: 1px solid #fff;
  padding:  0 15px;
}
.item:first-child a {
  border-left: none;
}