/*____________________________________out______________________________________*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ie7r9r');
  src:  url('../fonts/icomoon.eot?ie7r9r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ie7r9r') format('truetype'),
    url('../fonts/icomoon.woff?ie7r9r') format('woff'),
    url('../fonts/icomoon.svg?ie7r9r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "  \1f326";
}
.icon-email::after {
  content: "  \e945";
}
.icon-cross:before {
  content: "  \ea0f";
}
.icon-checkmark:before {
  content: "  \ea10";
}
.icon-circle-down:before {
  content: "  \ea43";
}
.icon-github::after {
  content: "  \eab0";
}
.icon-linkedin::after {
  content: "  \eac9";
}
.icon-codepen::after {
  content: "  \eae8";
}
/*----------------------  */
@import url('https://fonts.googleapis.com/css?family=Cantarell|Neuton');
/* font-family: 'Neuton', serif;
font-family: 'Cantarell', sans-serif; */

/*____________________________________global___________________________________*/

body{
  margin: 0;
  min-height: 100vh;
  background: lightgray;
  font-family: 'Cantarell', sans-serif;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  position: relative;
}
button{
  font-family: 'Neuton', serif;
  font-size: 1.1em;
}
h1,h2,h3,h4{
  font-family: 'Neuton', serif;
  font-size: 2em;
  text-align: center;
  margin: .3em 0 .8em 0;
}
h2{
  font-size: 1.7em;
  margin-top: 1em;
}
h3{
  font-size: 1.5em;
  margin: 1.2em 0 .2em 0;
}
h4{
  margin: 1em 0 .3em 0;
  font-size: 1em;
  text-align: left;
}
ul{
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: circle;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  text-decoration: underline;
}
.down-description{
  display: none;
}
.url::before{
  content: 'Url: ';
  font-weight: bold;
}
/*____________________________________left_____________________________________*/
.left-shoulder{
  background:	#0a6e8b;
  min-height: 100vh;
  width: 74vw;
}

/*---------------header---------------->*/
header{
  background-image: url(../image/desk.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 20px 0 15px 0;
}
h1{margin-bottom: 10px;}

.about-me{
  display: flex;
  justify-content:space-around;
  text-align: center;
  flex-wrap: wrap;

}
.goals{text-align: left;}

.navegation-cv{
  margin: 20px auto 0;
  min-height: 35px;
  max-width: 35px;
  font-size: 2em;
  border-radius: 50%;
  border: solid rgba(0,0,0,.3) .8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navegation-cv:hover{
  text-decoration: none;
}
/*<--------------*header--------------/
/*------------cv-------------------> */

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*00000000000000000000000 mini-global  */
.articles{
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.article{
  width: 90%;
  border: 1px solid #000;
  border-radius: 10px;
  background: rgba(0,0,0,.2);
  margin-bottom: 2em;
  position: relative;

}
.btns-responsive-500{
  display: none;
}

/*11111111111111111111111 Heph*/
.images-description, .sub-title{
  padding-left: 40px;
}
.sub-title{
  font-size: 1.8em;
}
.images{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images-title{
  font-size: 20px;
  font-weight: 600;
}
.images-title::before{
  content: 'Desktop';
}
.active.images-title::before{
  content: 'Celular';
}
.figure{
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 600px;
  max-height: 300px;
  cursor: ns-resize;
}
.phone-image{
  width: 377px;
  display: none;
}
.pc-image img, .phone-image img{
  width: 100%;
  overflow: auto;
  object-fit: cover;
}
.circle::after{
  content: "O";
}
/*22222222222222222222222 show-photos */
/* <---------cv------------------- */

/*------------- footer ----------- */
.footer{
  background: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-footer{
  text-decoration: none;
}
.my-email{
  padding: 0 20px;
}
.items{
  padding: 0;
}
.item{
  display: inline-block;
  padding: 20px 0;

}
.item a{
  border-left: 1px solid #fff;
  padding:  0 15px;
}
.item:first-child a {
  border-left: none;
}
/* .li-github::before{
  content: 'Github';
}
.li-email::before{
  content: 'E-mail';
}
.li-code-pen::before{
  content: 'Code-pen';
} */






/*------------- footer ----------- */
/*____________________________________right____________________________________*/

.right-shoulder{
  background: #fff;
  min-height: 100vh;
  width: 25vw;
  position: fixed;
  right: 0;
  color: black;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-information{

}
/* <---------about me------------- */
.my-name{
  font-size: 1.8em;
}
.motivacion{
  font-size: .8em;
}
.important{
  color: #0e699e;
  font-size: 1.2em;
}
.important::after, .important::before{
  content: '"'
}
/* btns -->*/

.btns-responsive-500{
  position: absolute;
  top: 1em;
  right: .8em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn-responsive-500{
  min-width: 100px;
  min-height: 30px;
  margin: 10px 5px;
  border-radius: 10px; border: .5px solid #000;
  background: #0A6E8B;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0px -4px rgba(0,0,0,.4);

  transition: .15s;
  outline: 0;
  will-change: background;
}

.btn-responsive-500.active{
  transform: scale(.97);
  background: #2BB3D8;
  box-shadow: none;
}
.show-photos .btn-responsive-500:nth-of-type(2){
  transform: scale(.97);
  background: rgba(0,0,0,.6);
  box-shadow: none;
}

/* <-- btns */
/*____________________________________keyframes________________________________*/

/*____________________________________medias____________________________________*/
@media screen and (max-width: 1020px)
{
  .ico-frontend-platzi img{
    width: 130px;
  }
  .figure{
    width: 377px;
  }
  .pc-image:nth-of-type(1) img{
    cursor: default;
  }
}
@media screen and (max-width: 950px)
{
  .formation, .goals{
    width: 90%;
    /* margin-top: .5em; */
  }
  .formation figcaption a{
    color: #0C457D;
  }
  .goals *{
    list-style: none;
  }
  .media-95-columns{
    display: flex;
    justify-content: space-around;
  }

}
@media screen and (max-width: 800px)
{
  /* org btn */
  .btns-responsive-500{
    position: relative;
    top: 0;
    right: 0;

  }
  .btn-responsive-500{
    min-width: 130px;
    min-height: 45px;
  }

  /* org btn */

  .media-95-columns{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  ul,h3,h4,.sub-title{
    padding-left: 0;
    text-align: center;
  }
  .right-shoulder{
    font-size: 14px;
  }
}
@media screen and (max-width: 768px)
{

  .left-shoulder{
    width: 100%;
  }
  .right-shoulder{
    display: none;
  }
  /*down description*/
  .images-description{
    border-top: 1px dashed #000;
    padding: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .images-description-down{
    transform: translateY(-100px);
    text-align: center;
    position: absolute;
    margin: auto;

    transition: .4s;
  }
  .url::before{
    content: '';
  }
  .down-description{
    min-width: 100%;
    display: block;
    border-top: solid 1px rgba(255,255,255,.3);
    background: rgba(0,0,0,.3);
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    border-radius: 0 0 10px 10px;

  }
  .images-description-down.active{
      position: relative;
      transform: translateY(0);
  }
  .images-description-down ~ .down-description .span::before{
    transition: .4s;
    font-size: 1.3em;
  }
  .images-description-down.active ~ .down-description .span::before{
    content: '^';
    font-weight: bold;
  }
  .images-title{
    display: none;
  }
  /*down description*/

  /* footer */
  .footer{
    flex-direction: column;
  }

}
@media screen and (max-width: 500px)
{
  /* articles ----> */
  .figure{
    width: 250px;
    min-height: 300px;
    cursor: default;
  }
  .phone-image{
    display: none;
  }

  /* <---- articles */

  /* footer--> */

}
@media screen and (max-width: 300px)
{
  .figure{
    width: 200px;
  }

}
