/*____________________________________out______________________________________*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ie7r9r');
  src:  url('../fonts/icomoon.eot?ie7r9r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ie7r9r') format('truetype'),
    url('../fonts/icomoon.woff?ie7r9r') format('woff'),
    url('../fonts/icomoon.svg?ie7r9r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "  \1f326";
}
.icon-email::after {
  content: "  \e945";
}
.icon-cross:before {
  content: "  \ea0f";
}
.icon-checkmark:before {
  content: "  \ea10";
}
.icon-circle-down:before {
  content: "  \ea43";
}
.icon-github::after {
  content: "  \eab0";
}
.icon-linkedin::after {
  content: "  \eac9";
}
.icon-codepen::after {
  content: "  \eae8";
}
/*----------------------  */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Roboto');
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Maven Pro', sans-serif;
 */

/*____________________________________global___________________________________*/
:root{
  --my-blue: #0078ff ;
  --my-red: #ff0000 ;
  --my-bg-blue: radial-gradient(circle, var(--my-blue), #000);
  --my-bg-red:  radial-gradient(circle, var(--my-red), #000);
  --main-bg: radial-gradient(ellipse at bottom, #1b2735 0%, #000 100%);
}
body{
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
  background: var(--main-bg);

	position: relative;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
  
  font-family: 'Roboto', arial;
}
/* BACKGROUND STARTS BODY DOWN */






/* BACKGROUND STARTS BODY UP*/




*::selection{
	background: lightblue;
	color: #000;

}
a{
	color: #fff;
	text-decoration: none;

	transition: .4s;
}
a:hover{
  color: var(--my-blue);
}
a:active{
	color: var(--my-red);
}
h2{
  font-size: 2.5em;
  margin: 1em 0 1.8em 0;
}
.dark-overlay{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0; left: 0;right: 0;bottom: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 1;
}

/*____________________________________landblock___________________________________*/


.landblock{
	background: transparent;
	color: #fff;
	min-height: 100vh;

	position: relative;

	display: flex;
	flex-direction: column;
  align-items: flex-start;

}


/*--Introduction--*/

.introduction{
	text-align: center;

	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.introduction *{
  background: #fff;
  color: #000;
  margin: 0 0 5px 0;
  padding-left: .4em;
  padding-right: 40px;

  
} 
.introduction h1{
  font-size: 4em;
}
.introduction h3{
  font-size: 2em;
}

.navegation-portafolio{
	margin: 0 auto;

	min-height: 35px;
	max-width: 35px;
	font-size: 2em;
	border: solid rgba(0,0,0,.3) .8px;

	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: translateY(-2vh);
}
 
/*____________________________________portafolio___________________________________*/

.portafolio{
  background: #fff;
	flex: 1;
  text-align: center;
  padding-bottom: 2em;

}
.show-web-sides{

  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
/* componente de portafolio */
/*--------  DAD ------------ */
.box{
  max-width: 80vw;
  border:  solid 1px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .4);
  height: 203px;
  margin-bottom: 2em;
  position: relative;
  display: flex;
}


/*-------- CHILDREN -------- */
/* img */
.images{
  width: 365px;
  min-width: 250px;
  margin: 0;
  background: #000;
  
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  cursor: pointer;
}

*::-webkit-scrollbar{
  width: 7px;
  background: var(--main-bg);
}
*::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #32465E;
}

.images img{
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}



/*.overlay{
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: rgba(255, 255, 255, .2);

  transition: .7s opacity, .7s visibility;
}
.box:hover .overlay{
  opacity: 0;
  visibility: hidden;
}*/

/* btn-aside */
.aside-box{
  background: rgba(255,255,255,.4);
  width: 2.3vw;
  height: 100%;
  border-right: solid .5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
}
.circule-btn{
  width: 1.2vw;
  height: 1.2vw;
  margin: 5px 0;
  border: solid 1px;
  border-radius: 50%;

  cursor: pointer;
}
.circule-btn1{
  background: var(--my-bg-red);
}
.circule-btn2{
  background: var(--my-bg-blue);
}

/* slide */
.description{
  border-left: solid .5px;
  overflow: hidden;
}
.slide{

  overflow-x: hidden;
  overflow-y:  hidden;
  width: 0;
  transition: .7s;
  transition-timing-function: ease-out;
  text-align: left;

}
.content-slide{
  padding-left: 40px;
}
.content-slide a{
  color: #000;
  text-decoration: underline;
}.content-slide a:hover{
  color: var(--my-blue);
}
.content-slide a:active{
  color: var(--my-red);
}
.content-slide h3{
  font-size: 2em;
  margin-bottom: .5em;
}
/*------modal ------img -----*/
.dark-overlay.active{
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.box.active{
    z-index: 2;
    height: 75vh;
    position: fixed;
    transform: translateY(-100vh);
}
.box.active .images {
  width: 75vw;
  cursor: default;
}
.box.active .images img:nth-of-type(2){
  width: initial;
}
.box.active .description{
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 30vw;
  border-left: none;
}
.box.active .slide{
  background: rgba(255,255,255,.4);
  padding-bottom: 10px;
}
.box.active .slide:hover{
  background: rgba(255,255,255,.8);
}
/*____________________________________footer___________________________________*/

.footer{
  color: #fff;
  background: transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

}


.menu-footer{
  text-decoration: none;
}
.my-email{
  padding: 0 20px;
}
.items{
  padding: 0;
  margin: 0;
}
.item{
  display: inline-block;
  padding: 20px 0;

}
.item a{
  border-left: 1px solid #fff;
  padding:  0 15px;
}
.item:first-child a {
  border-left: none;
}

@media screen and (max-width: 700px) {
  .aside-box{
    display: none;
  }
  .footer{
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
}

/* ____________________BACKGROUND__________________ */
.landblock{

  overflow-y: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1855px 784px #FFF , 107px 142px #FFF , 39px 785px #FFF , 1441px 597px #FFF , 1585px 1528px #FFF , 918px 558px #FFF , 376px 131px #FFF , 330px 260px #FFF , 436px 353px #FFF , 431px 790px #FFF , 1073px 369px #FFF , 1781px 674px #FFF , 1754px 943px #FFF , 1286px 472px #FFF , 62px 1874px #FFF , 58px 1800px #FFF , 938px 655px #FFF , 217px 1954px #FFF , 1175px 1253px #FFF , 410px 1061px #FFF , 1729px 528px #FFF , 862px 1533px #FFF , 1750px 1629px #FFF , 1479px 450px #FFF , 615px 180px #FFF , 705px 270px #FFF , 86px 1945px #FFF , 1908px 824px #FFF , 1965px 89px #FFF , 1916px 1968px #FFF , 1833px 1537px #FFF , 1178px 1451px #FFF , 1988px 1882px #FFF , 1379px 929px #FFF , 68px 516px #FFF , 901px 1385px #FFF , 969px 231px #FFF , 1457px 1110px #FFF , 557px 427px #FFF , 648px 1728px #FFF , 360px 702px #FFF , 467px 111px #FFF , 345px 70px #FFF , 1824px 1117px #FFF , 1958px 251px #FFF , 1314px 1464px #FFF , 1916px 879px #FFF , 1899px 1791px #FFF , 595px 1985px #FFF , 854px 1800px #FFF , 1238px 1218px #FFF , 1650px 1951px #FFF , 1448px 193px #FFF , 626px 1774px #FFF , 293px 8px #FFF , 1525px 1170px #FFF , 156px 1362px #FFF , 1351px 358px #FFF , 997px 44px #FFF , 136px 288px #FFF , 582px 727px #FFF , 226px 1861px #FFF , 1757px 938px #FFF , 1034px 661px #FFF , 1539px 690px #FFF , 714px 593px #FFF , 379px 402px #FFF , 1928px 1116px #FFF , 1655px 1487px #FFF , 1757px 1157px #FFF , 598px 1494px #FFF , 1023px 1370px #FFF , 337px 1568px #FFF , 1734px 197px #FFF , 164px 549px #FFF , 361px 1153px #FFF , 967px 809px #FFF , 1710px 41px #FFF , 1950px 909px #FFF , 1177px 304px #FFF , 1292px 457px #FFF , 1949px 852px #FFF , 1686px 89px #FFF , 1231px 228px #FFF , 1875px 936px #FFF , 1401px 351px #FFF , 1038px 1409px #FFF , 498px 979px #FFF , 1605px 509px #FFF , 1837px 1177px #FFF , 1399px 341px #FFF , 1696px 520px #FFF , 564px 387px #FFF , 1155px 1657px #FFF , 385px 1415px #FFF , 415px 80px #FFF , 765px 1885px #FFF , 479px 1414px #FFF , 1036px 1127px #FFF , 727px 378px #FFF , 1552px 1437px #FFF , 742px 578px #FFF , 1664px 426px #FFF , 42px 595px #FFF , 341px 257px #FFF , 500px 1522px #FFF , 1359px 1870px #FFF , 548px 77px #FFF , 427px 989px #FFF , 1058px 303px #FFF , 1054px 1984px #FFF , 1215px 1716px #FFF , 198px 1784px #FFF , 1521px 2000px #FFF , 1678px 688px #FFF , 471px 465px #FFF , 832px 643px #FFF , 1047px 1682px #FFF , 1366px 1218px #FFF , 254px 1119px #FFF , 537px 786px #FFF , 807px 1467px #FFF , 1287px 1011px #FFF , 1236px 1836px #FFF , 910px 646px #FFF , 297px 173px #FFF , 1604px 656px #FFF , 1256px 282px #FFF , 349px 817px #FFF , 53px 446px #FFF , 1405px 1635px #FFF , 669px 1628px #FFF , 1779px 283px #FFF , 1793px 805px #FFF , 1386px 347px #FFF , 1334px 1504px #FFF , 463px 119px #FFF , 300px 1011px #FFF , 445px 1206px #FFF , 1652px 903px #FFF , 973px 1322px #FFF , 198px 871px #FFF , 1551px 1349px #FFF , 1031px 190px #FFF , 272px 1927px #FFF , 1368px 1939px #FFF , 1079px 359px #FFF , 669px 538px #FFF , 707px 1824px #FFF , 318px 1531px #FFF , 1599px 823px #FFF , 1269px 225px #FFF , 1663px 816px #FFF , 218px 379px #FFF , 1914px 949px #FFF , 1px 1555px #FFF , 1437px 1484px #FFF , 1679px 664px #FFF , 593px 1987px #FFF , 186px 758px #FFF , 1107px 650px #FFF , 758px 620px #FFF , 1484px 1737px #FFF , 1404px 820px #FFF , 1787px 1331px #FFF , 441px 1640px #FFF , 1842px 1609px #FFF , 976px 1719px #FFF , 20px 739px #FFF , 769px 1112px #FFF , 1385px 529px #FFF , 1390px 1396px #FFF , 1926px 504px #FFF , 961px 1118px #FFF , 1946px 1973px #FFF , 715px 472px #FFF , 1567px 1634px #FFF , 579px 229px #FFF , 783px 204px #FFF , 1634px 31px #FFF , 1716px 882px #FFF , 317px 1113px #FFF , 1902px 521px #FFF , 4px 1881px #FFF , 1150px 1162px #FFF , 1007px 1477px #FFF , 1778px 1808px #FFF , 1919px 187px #FFF , 133px 1837px #FFF , 1596px 1711px #FFF , 438px 1721px #FFF , 715px 1573px #FFF , 1906px 456px #FFF , 738px 568px #FFF , 1601px 391px #FFF , 1337px 1165px #FFF , 863px 334px #FFF , 1486px 729px #FFF , 422px 1788px #FFF , 228px 434px #FFF , 1023px 1306px #FFF , 335px 279px #FFF , 1836px 1007px #FFF , 1602px 1090px #FFF , 1175px 1967px #FFF , 1227px 1417px #FFF , 680px 1978px #FFF , 1306px 483px #FFF , 441px 1838px #FFF , 826px 276px #FFF , 1155px 1438px #FFF , 1822px 1955px #FFF , 636px 1493px #FFF , 238px 1707px #FFF , 998px 946px #FFF , 1652px 501px #FFF , 260px 1935px #FFF , 500px 1436px #FFF , 1800px 1802px #FFF , 557px 1149px #FFF , 357px 1736px #FFF , 1936px 932px #FFF , 1665px 1559px #FFF , 378px 611px #FFF , 1597px 679px #FFF , 1117px 370px #FFF , 1265px 1531px #FFF , 1744px 856px #FFF , 703px 828px #FFF , 474px 209px #FFF , 1211px 55px #FFF , 323px 1997px #FFF , 191px 676px #FFF , 42px 1378px #FFF , 1674px 480px #FFF , 173px 1690px #FFF , 741px 409px #FFF , 1215px 1290px #FFF , 1994px 1848px #FFF , 926px 611px #FFF , 1191px 1432px #FFF , 248px 312px #FFF , 815px 837px #FFF , 1218px 366px #FFF , 449px 1183px #FFF , 1388px 1611px #FFF , 1489px 845px #FFF , 311px 436px #FFF , 872px 1060px #FFF , 1328px 394px #FFF , 1029px 185px #FFF , 1004px 680px #FFF , 473px 842px #FFF , 1331px 1424px #FFF , 1885px 377px #FFF , 409px 1876px #FFF , 1854px 167px #FFF , 331px 1778px #FFF , 1756px 821px #FFF , 847px 881px #FFF , 396px 183px #FFF , 1016px 157px #FFF , 515px 818px #FFF , 776px 1243px #FFF , 131px 119px #FFF , 1280px 1515px #FFF , 300px 1630px #FFF , 1803px 1195px #FFF , 821px 1502px #FFF , 616px 274px #FFF , 338px 1861px #FFF , 1802px 973px #FFF , 1276px 872px #FFF , 1451px 555px #FFF , 528px 1394px #FFF , 1567px 1020px #FFF , 1832px 1499px #FFF , 1225px 1899px #FFF , 827px 557px #FFF , 1163px 3px #FFF , 1743px 1393px #FFF , 1944px 1896px #FFF , 990px 888px #FFF , 1209px 1804px #FFF , 920px 894px #FFF , 1466px 890px #FFF , 1936px 1723px #FFF , 1989px 1147px #FFF , 643px 3px #FFF , 544px 1245px #FFF , 1392px 1041px #FFF , 1033px 1029px #FFF , 1733px 1588px #FFF , 1279px 337px #FFF , 1889px 930px #FFF , 1904px 1806px #FFF , 1791px 1065px #FFF , 688px 1763px #FFF , 272px 1935px #FFF , 1733px 1233px #FFF , 1489px 1324px #FFF , 326px 12px #FFF , 1451px 253px #FFF , 1286px 1300px #FFF , 109px 607px #FFF , 1678px 854px #FFF , 63px 1685px #FFF , 1907px 1446px #FFF , 964px 273px #FFF , 1610px 456px #FFF , 1549px 1599px #FFF , 759px 724px #FFF , 1284px 25px #FFF , 1858px 964px #FFF , 1536px 56px #FFF , 1px 1066px #FFF , 544px 1399px #FFF , 1438px 601px #FFF , 1369px 66px #FFF , 837px 1726px #FFF , 1362px 379px #FFF , 756px 1627px #FFF , 349px 1117px #FFF , 258px 1743px #FFF , 544px 1579px #FFF , 1630px 507px #FFF , 964px 1863px #FFF , 1880px 1175px #FFF , 286px 1941px #FFF , 843px 891px #FFF , 1192px 1445px #FFF , 746px 1079px #FFF , 1286px 557px #FFF , 1043px 293px #FFF , 1340px 1785px #FFF , 715px 1054px #FFF , 543px 1197px #FFF , 1271px 1805px #FFF , 1570px 1717px #FFF , 1303px 740px #FFF , 1858px 3px #FFF , 1458px 1996px #FFF , 1942px 1463px #FFF , 931px 527px #FFF , 382px 974px #FFF , 1503px 1535px #FFF , 225px 1379px #FFF , 770px 1214px #FFF , 470px 1905px #FFF , 583px 1541px #FFF , 1417px 813px #FFF , 1468px 543px #FFF , 1424px 1188px #FFF , 1234px 797px #FFF , 691px 564px #FFF , 1807px 541px #FFF , 1148px 1203px #FFF , 120px 1255px #FFF , 1095px 1095px #FFF , 1936px 1769px #FFF , 532px 1117px #FFF , 1916px 947px #FFF , 723px 1277px #FFF , 272px 1898px #FFF , 790px 1181px #FFF , 1597px 1046px #FFF , 1292px 70px #FFF , 469px 471px #FFF , 752px 961px #FFF , 122px 1097px #FFF , 972px 1761px #FFF , 151px 1283px #FFF , 61px 1976px #FFF , 1373px 1934px #FFF , 1078px 1403px #FFF , 201px 1190px #FFF , 1360px 1573px #FFF , 1427px 811px #FFF , 1086px 203px #FFF , 1098px 737px #FFF , 328px 1386px #FFF , 1714px 1317px #FFF , 1865px 1024px #FFF , 1512px 1379px #FFF , 1534px 712px #FFF , 296px 1691px #FFF , 1262px 555px #FFF , 31px 1891px #FFF , 1156px 1862px #FFF , 1701px 1374px #FFF , 1937px 1946px #FFF , 957px 1203px #FFF , 750px 52px #FFF , 1827px 763px #FFF , 1263px 981px #FFF , 715px 1316px #FFF , 1455px 1468px #FFF , 1821px 1759px #FFF , 1604px 940px #FFF , 1843px 1364px #FFF , 352px 546px #FFF , 524px 1719px #FFF , 1411px 937px #FFF , 1726px 1822px #FFF , 1868px 924px #FFF , 1342px 117px #FFF , 1761px 741px #FFF , 1673px 95px #FFF , 709px 1363px #FFF , 1340px 1900px #FFF , 1588px 1147px #FFF , 1285px 117px #FFF , 648px 779px #FFF , 776px 1700px #FFF , 782px 1844px #FFF , 927px 1603px #FFF , 1934px 1019px #FFF , 1067px 169px #FFF , 1391px 114px #FFF , 2000px 1086px #FFF , 134px 1023px #FFF , 1839px 1742px #FFF , 95px 292px #FFF , 1589px 945px #FFF , 613px 1642px #FFF , 573px 410px #FFF , 1497px 1577px #FFF , 205px 1498px #FFF , 1397px 9px #FFF , 491px 1171px #FFF , 546px 38px #FFF , 333px 584px #FFF , 1903px 131px #FFF , 1655px 690px #FFF , 993px 796px #FFF , 392px 628px #FFF , 1334px 785px #FFF , 1343px 1780px #FFF , 1350px 180px #FFF , 268px 1112px #FFF , 1441px 1937px #FFF , 466px 1024px #FFF , 179px 178px #FFF , 335px 1238px #FFF , 2px 1021px #FFF , 1293px 1965px #FFF , 609px 1483px #FFF , 1279px 651px #FFF , 133px 508px #FFF , 504px 1993px #FFF , 787px 1094px #FFF , 1249px 422px #FFF , 888px 1498px #FFF , 1574px 1893px #FFF , 1800px 1564px #FFF , 1955px 1113px #FFF , 715px 747px #FFF , 462px 503px #FFF , 1920px 1122px #FFF , 1620px 1208px #FFF , 134px 1507px #FFF , 33px 274px #FFF , 514px 1857px #FFF , 611px 374px #FFF , 1188px 1354px #FFF , 535px 1301px #FFF , 189px 884px #FFF , 687px 372px #FFF , 175px 1746px #FFF , 736px 1720px #FFF , 410px 1900px #FFF , 1920px 709px #FFF , 520px 1747px #FFF , 193px 291px #FFF , 1598px 429px #FFF , 1158px 1491px #FFF , 1810px 1028px #FFF , 1326px 503px #FFF , 511px 724px #FFF , 1428px 1845px #FFF , 1861px 1509px #FFF , 1916px 222px #FFF , 55px 599px #FFF , 537px 1792px #FFF , 379px 1699px #FFF , 1785px 718px #FFF , 304px 447px #FFF , 338px 923px #FFF , 146px 1102px #FFF , 318px 214px #FFF , 1966px 470px #FFF , 285px 1452px #FFF , 1972px 987px #FFF , 364px 379px #FFF , 774px 682px #FFF , 357px 443px #FFF , 452px 1481px #FFF , 928px 978px #FFF , 1773px 939px #FFF , 209px 730px #FFF , 1036px 1878px #FFF , 1878px 643px #FFF , 1974px 1204px #FFF , 568px 1954px #FFF , 1876px 703px #FFF , 771px 969px #FFF , 633px 1005px #FFF , 1521px 722px #FFF , 187px 1833px #FFF , 607px 345px #FFF , 144px 1249px #FFF , 1061px 932px #FFF , 1808px 455px #FFF , 88px 1597px #FFF , 1669px 1783px #FFF , 1912px 1848px #FFF , 154px 1647px #FFF , 1166px 1528px #FFF , 1721px 1237px #FFF , 420px 1820px #FFF , 424px 865px #FFF , 949px 811px #FFF , 193px 1130px #FFF , 690px 209px #FFF , 496px 1371px #FFF , 189px 514px #FFF , 700px 530px #FFF , 150px 1997px #FFF , 471px 13px #FFF , 1841px 733px #FFF , 1501px 131px #FFF , 1051px 122px #FFF , 552px 528px #FFF , 182px 1935px #FFF , 1974px 1065px #FFF , 517px 479px #FFF , 1560px 918px #FFF , 922px 127px #FFF , 877px 376px #FFF , 1943px 1372px #FFF , 1544px 184px #FFF , 704px 837px #FFF , 169px 1231px #FFF , 1799px 567px #FFF , 79px 1791px #FFF , 1263px 21px #FFF , 853px 1182px #FFF , 848px 1886px #FFF , 558px 1911px #FFF , 219px 300px #FFF , 908px 1537px #FFF , 1167px 1640px #FFF , 1478px 1335px #FFF , 555px 1625px #FFF , 526px 1202px #FFF , 642px 858px #FFF , 1460px 727px #FFF , 1145px 660px #FFF , 1565px 1381px #FFF , 1331px 1417px #FFF , 1078px 835px #FFF , 515px 1828px #FFF , 1896px 1378px #FFF , 836px 1480px #FFF , 740px 1276px #FFF , 587px 253px #FFF , 1293px 1172px #FFF , 853px 1479px #FFF , 1933px 1375px #FFF , 1933px 849px #FFF , 1592px 446px #FFF , 31px 1851px #FFF , 1062px 481px #FFF , 910px 470px #FFF , 531px 382px #FFF , 1038px 1901px #FFF , 866px 1667px #FFF , 1027px 1893px #FFF , 643px 1110px #FFF , 1864px 1079px #FFF , 247px 1175px #FFF , 594px 1540px #FFF , 604px 1284px #FFF , 1886px 557px #FFF , 1615px 945px #FFF , 893px 1474px #FFF , 1835px 1008px #FFF , 1001px 1370px #FFF , 1353px 810px #FFF , 1752px 1853px #FFF , 1755px 1445px #FFF , 1800px 1372px #FFF , 1586px 1641px #FFF , 767px 732px #FFF , 1947px 640px #FFF , 1489px 1237px #FFF , 1645px 1354px #FFF , 1008px 564px #FFF , 1236px 693px #FFF , 466px 1101px #FFF , 564px 180px #FFF , 292px 87px #FFF , 1640px 729px #FFF , 578px 303px #FFF , 475px 579px #FFF , 1481px 840px #FFF , 106px 357px #FFF , 1690px 166px #FFF , 166px 1281px #FFF , 872px 1330px #FFF , 1230px 160px #FFF , 4px 1913px #FFF , 1374px 311px #FFF , 1719px 641px #FFF , 804px 808px #FFF , 72px 1777px #FFF , 377px 1027px #FFF , 440px 885px #FFF , 1759px 1924px #FFF , 758px 1773px #FFF , 1737px 1843px #FFF , 471px 1472px #FFF , 1874px 723px #FFF , 720px 638px #FFF , 911px 1829px #FFF , 788px 1880px #FFF , 1539px 1032px #FFF , 1334px 1112px #FFF , 1335px 594px #FFF , 1239px 1738px #FFF , 893px 919px #FFF , 480px 1302px #FFF , 51px 489px #FFF , 629px 385px #FFF , 926px 1683px #FFF , 36px 935px #FFF , 527px 1537px #FFF , 695px 228px #FFF , 1284px 1845px #FFF , 1441px 622px #FFF , 1035px 825px #FFF , 817px 548px #FFF , 353px 88px #FFF , 631px 1168px #FFF , 153px 1060px #FFF , 727px 344px #FFF , 1656px 13px #FFF , 581px 159px #FFF , 1991px 218px #FFF , 73px 1655px #FFF , 1287px 1182px #FFF , 1593px 277px #FFF , 769px 99px #FFF , 248px 585px #FFF , 322px 1742px #FFF , 1059px 636px #FFF , 1086px 528px #FFF , 52px 77px #FFF , 1445px 67px #FFF , 1621px 977px #FFF , 433px 1398px #FFF , 411px 1411px #FFF , 1297px 845px #FFF , 66px 1851px #FFF , 207px 504px #FFF , 556px 1376px #FFF , 192px 1700px #FFF , 148px 1397px #FFF , 1669px 187px #FFF , 886px 406px #FFF , 112px 1477px #FFF , 1059px 1554px #FFF , 1005px 1101px #FFF , 349px 1468px #FFF , 633px 735px #FFF , 633px 258px #FFF , 116px 960px #FFF , 1973px 148px #FFF , 1216px 1552px #FFF , 797px 1458px #FFF , 1444px 260px #FFF , 1397px 874px #FFF , 525px 1567px #FFF , 961px 711px #FFF , 1190px 540px #FFF , 130px 8px #FFF , 492px 1322px #FFF , 1392px 1080px #FFF , 1775px 594px #FFF , 1207px 176px #FFF , 21px 1943px #FFF , 44px 1499px #FFF , 472px 423px #FFF , 1083px 670px #FFF , 827px 1003px #FFF , 765px 685px #FFF , 1604px 211px #FFF , 1722px 615px #FFF , 1474px 1002px #FFF , 321px 858px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1855px 784px #FFF , 107px 142px #FFF , 39px 785px #FFF , 1441px 597px #FFF , 1585px 1528px #FFF , 918px 558px #FFF , 376px 131px #FFF , 330px 260px #FFF , 436px 353px #FFF , 431px 790px #FFF , 1073px 369px #FFF , 1781px 674px #FFF , 1754px 943px #FFF , 1286px 472px #FFF , 62px 1874px #FFF , 58px 1800px #FFF , 938px 655px #FFF , 217px 1954px #FFF , 1175px 1253px #FFF , 410px 1061px #FFF , 1729px 528px #FFF , 862px 1533px #FFF , 1750px 1629px #FFF , 1479px 450px #FFF , 615px 180px #FFF , 705px 270px #FFF , 86px 1945px #FFF , 1908px 824px #FFF , 1965px 89px #FFF , 1916px 1968px #FFF , 1833px 1537px #FFF , 1178px 1451px #FFF , 1988px 1882px #FFF , 1379px 929px #FFF , 68px 516px #FFF , 901px 1385px #FFF , 969px 231px #FFF , 1457px 1110px #FFF , 557px 427px #FFF , 648px 1728px #FFF , 360px 702px #FFF , 467px 111px #FFF , 345px 70px #FFF , 1824px 1117px #FFF , 1958px 251px #FFF , 1314px 1464px #FFF , 1916px 879px #FFF , 1899px 1791px #FFF , 595px 1985px #FFF , 854px 1800px #FFF , 1238px 1218px #FFF , 1650px 1951px #FFF , 1448px 193px #FFF , 626px 1774px #FFF , 293px 8px #FFF , 1525px 1170px #FFF , 156px 1362px #FFF , 1351px 358px #FFF , 997px 44px #FFF , 136px 288px #FFF , 582px 727px #FFF , 226px 1861px #FFF , 1757px 938px #FFF , 1034px 661px #FFF , 1539px 690px #FFF , 714px 593px #FFF , 379px 402px #FFF , 1928px 1116px #FFF , 1655px 1487px #FFF , 1757px 1157px #FFF , 598px 1494px #FFF , 1023px 1370px #FFF , 337px 1568px #FFF , 1734px 197px #FFF , 164px 549px #FFF , 361px 1153px #FFF , 967px 809px #FFF , 1710px 41px #FFF , 1950px 909px #FFF , 1177px 304px #FFF , 1292px 457px #FFF , 1949px 852px #FFF , 1686px 89px #FFF , 1231px 228px #FFF , 1875px 936px #FFF , 1401px 351px #FFF , 1038px 1409px #FFF , 498px 979px #FFF , 1605px 509px #FFF , 1837px 1177px #FFF , 1399px 341px #FFF , 1696px 520px #FFF , 564px 387px #FFF , 1155px 1657px #FFF , 385px 1415px #FFF , 415px 80px #FFF , 765px 1885px #FFF , 479px 1414px #FFF , 1036px 1127px #FFF , 727px 378px #FFF , 1552px 1437px #FFF , 742px 578px #FFF , 1664px 426px #FFF , 42px 595px #FFF , 341px 257px #FFF , 500px 1522px #FFF , 1359px 1870px #FFF , 548px 77px #FFF , 427px 989px #FFF , 1058px 303px #FFF , 1054px 1984px #FFF , 1215px 1716px #FFF , 198px 1784px #FFF , 1521px 2000px #FFF , 1678px 688px #FFF , 471px 465px #FFF , 832px 643px #FFF , 1047px 1682px #FFF , 1366px 1218px #FFF , 254px 1119px #FFF , 537px 786px #FFF , 807px 1467px #FFF , 1287px 1011px #FFF , 1236px 1836px #FFF , 910px 646px #FFF , 297px 173px #FFF , 1604px 656px #FFF , 1256px 282px #FFF , 349px 817px #FFF , 53px 446px #FFF , 1405px 1635px #FFF , 669px 1628px #FFF , 1779px 283px #FFF , 1793px 805px #FFF , 1386px 347px #FFF , 1334px 1504px #FFF , 463px 119px #FFF , 300px 1011px #FFF , 445px 1206px #FFF , 1652px 903px #FFF , 973px 1322px #FFF , 198px 871px #FFF , 1551px 1349px #FFF , 1031px 190px #FFF , 272px 1927px #FFF , 1368px 1939px #FFF , 1079px 359px #FFF , 669px 538px #FFF , 707px 1824px #FFF , 318px 1531px #FFF , 1599px 823px #FFF , 1269px 225px #FFF , 1663px 816px #FFF , 218px 379px #FFF , 1914px 949px #FFF , 1px 1555px #FFF , 1437px 1484px #FFF , 1679px 664px #FFF , 593px 1987px #FFF , 186px 758px #FFF , 1107px 650px #FFF , 758px 620px #FFF , 1484px 1737px #FFF , 1404px 820px #FFF , 1787px 1331px #FFF , 441px 1640px #FFF , 1842px 1609px #FFF , 976px 1719px #FFF , 20px 739px #FFF , 769px 1112px #FFF , 1385px 529px #FFF , 1390px 1396px #FFF , 1926px 504px #FFF , 961px 1118px #FFF , 1946px 1973px #FFF , 715px 472px #FFF , 1567px 1634px #FFF , 579px 229px #FFF , 783px 204px #FFF , 1634px 31px #FFF , 1716px 882px #FFF , 317px 1113px #FFF , 1902px 521px #FFF , 4px 1881px #FFF , 1150px 1162px #FFF , 1007px 1477px #FFF , 1778px 1808px #FFF , 1919px 187px #FFF , 133px 1837px #FFF , 1596px 1711px #FFF , 438px 1721px #FFF , 715px 1573px #FFF , 1906px 456px #FFF , 738px 568px #FFF , 1601px 391px #FFF , 1337px 1165px #FFF , 863px 334px #FFF , 1486px 729px #FFF , 422px 1788px #FFF , 228px 434px #FFF , 1023px 1306px #FFF , 335px 279px #FFF , 1836px 1007px #FFF , 1602px 1090px #FFF , 1175px 1967px #FFF , 1227px 1417px #FFF , 680px 1978px #FFF , 1306px 483px #FFF , 441px 1838px #FFF , 826px 276px #FFF , 1155px 1438px #FFF , 1822px 1955px #FFF , 636px 1493px #FFF , 238px 1707px #FFF , 998px 946px #FFF , 1652px 501px #FFF , 260px 1935px #FFF , 500px 1436px #FFF , 1800px 1802px #FFF , 557px 1149px #FFF , 357px 1736px #FFF , 1936px 932px #FFF , 1665px 1559px #FFF , 378px 611px #FFF , 1597px 679px #FFF , 1117px 370px #FFF , 1265px 1531px #FFF , 1744px 856px #FFF , 703px 828px #FFF , 474px 209px #FFF , 1211px 55px #FFF , 323px 1997px #FFF , 191px 676px #FFF , 42px 1378px #FFF , 1674px 480px #FFF , 173px 1690px #FFF , 741px 409px #FFF , 1215px 1290px #FFF , 1994px 1848px #FFF , 926px 611px #FFF , 1191px 1432px #FFF , 248px 312px #FFF , 815px 837px #FFF , 1218px 366px #FFF , 449px 1183px #FFF , 1388px 1611px #FFF , 1489px 845px #FFF , 311px 436px #FFF , 872px 1060px #FFF , 1328px 394px #FFF , 1029px 185px #FFF , 1004px 680px #FFF , 473px 842px #FFF , 1331px 1424px #FFF , 1885px 377px #FFF , 409px 1876px #FFF , 1854px 167px #FFF , 331px 1778px #FFF , 1756px 821px #FFF , 847px 881px #FFF , 396px 183px #FFF , 1016px 157px #FFF , 515px 818px #FFF , 776px 1243px #FFF , 131px 119px #FFF , 1280px 1515px #FFF , 300px 1630px #FFF , 1803px 1195px #FFF , 821px 1502px #FFF , 616px 274px #FFF , 338px 1861px #FFF , 1802px 973px #FFF , 1276px 872px #FFF , 1451px 555px #FFF , 528px 1394px #FFF , 1567px 1020px #FFF , 1832px 1499px #FFF , 1225px 1899px #FFF , 827px 557px #FFF , 1163px 3px #FFF , 1743px 1393px #FFF , 1944px 1896px #FFF , 990px 888px #FFF , 1209px 1804px #FFF , 920px 894px #FFF , 1466px 890px #FFF , 1936px 1723px #FFF , 1989px 1147px #FFF , 643px 3px #FFF , 544px 1245px #FFF , 1392px 1041px #FFF , 1033px 1029px #FFF , 1733px 1588px #FFF , 1279px 337px #FFF , 1889px 930px #FFF , 1904px 1806px #FFF , 1791px 1065px #FFF , 688px 1763px #FFF , 272px 1935px #FFF , 1733px 1233px #FFF , 1489px 1324px #FFF , 326px 12px #FFF , 1451px 253px #FFF , 1286px 1300px #FFF , 109px 607px #FFF , 1678px 854px #FFF , 63px 1685px #FFF , 1907px 1446px #FFF , 964px 273px #FFF , 1610px 456px #FFF , 1549px 1599px #FFF , 759px 724px #FFF , 1284px 25px #FFF , 1858px 964px #FFF , 1536px 56px #FFF , 1px 1066px #FFF , 544px 1399px #FFF , 1438px 601px #FFF , 1369px 66px #FFF , 837px 1726px #FFF , 1362px 379px #FFF , 756px 1627px #FFF , 349px 1117px #FFF , 258px 1743px #FFF , 544px 1579px #FFF , 1630px 507px #FFF , 964px 1863px #FFF , 1880px 1175px #FFF , 286px 1941px #FFF , 843px 891px #FFF , 1192px 1445px #FFF , 746px 1079px #FFF , 1286px 557px #FFF , 1043px 293px #FFF , 1340px 1785px #FFF , 715px 1054px #FFF , 543px 1197px #FFF , 1271px 1805px #FFF , 1570px 1717px #FFF , 1303px 740px #FFF , 1858px 3px #FFF , 1458px 1996px #FFF , 1942px 1463px #FFF , 931px 527px #FFF , 382px 974px #FFF , 1503px 1535px #FFF , 225px 1379px #FFF , 770px 1214px #FFF , 470px 1905px #FFF , 583px 1541px #FFF , 1417px 813px #FFF , 1468px 543px #FFF , 1424px 1188px #FFF , 1234px 797px #FFF , 691px 564px #FFF , 1807px 541px #FFF , 1148px 1203px #FFF , 120px 1255px #FFF , 1095px 1095px #FFF , 1936px 1769px #FFF , 532px 1117px #FFF , 1916px 947px #FFF , 723px 1277px #FFF , 272px 1898px #FFF , 790px 1181px #FFF , 1597px 1046px #FFF , 1292px 70px #FFF , 469px 471px #FFF , 752px 961px #FFF , 122px 1097px #FFF , 972px 1761px #FFF , 151px 1283px #FFF , 61px 1976px #FFF , 1373px 1934px #FFF , 1078px 1403px #FFF , 201px 1190px #FFF , 1360px 1573px #FFF , 1427px 811px #FFF , 1086px 203px #FFF , 1098px 737px #FFF , 328px 1386px #FFF , 1714px 1317px #FFF , 1865px 1024px #FFF , 1512px 1379px #FFF , 1534px 712px #FFF , 296px 1691px #FFF , 1262px 555px #FFF , 31px 1891px #FFF , 1156px 1862px #FFF , 1701px 1374px #FFF , 1937px 1946px #FFF , 957px 1203px #FFF , 750px 52px #FFF , 1827px 763px #FFF , 1263px 981px #FFF , 715px 1316px #FFF , 1455px 1468px #FFF , 1821px 1759px #FFF , 1604px 940px #FFF , 1843px 1364px #FFF , 352px 546px #FFF , 524px 1719px #FFF , 1411px 937px #FFF , 1726px 1822px #FFF , 1868px 924px #FFF , 1342px 117px #FFF , 1761px 741px #FFF , 1673px 95px #FFF , 709px 1363px #FFF , 1340px 1900px #FFF , 1588px 1147px #FFF , 1285px 117px #FFF , 648px 779px #FFF , 776px 1700px #FFF , 782px 1844px #FFF , 927px 1603px #FFF , 1934px 1019px #FFF , 1067px 169px #FFF , 1391px 114px #FFF , 2000px 1086px #FFF , 134px 1023px #FFF , 1839px 1742px #FFF , 95px 292px #FFF , 1589px 945px #FFF , 613px 1642px #FFF , 573px 410px #FFF , 1497px 1577px #FFF , 205px 1498px #FFF , 1397px 9px #FFF , 491px 1171px #FFF , 546px 38px #FFF , 333px 584px #FFF , 1903px 131px #FFF , 1655px 690px #FFF , 993px 796px #FFF , 392px 628px #FFF , 1334px 785px #FFF , 1343px 1780px #FFF , 1350px 180px #FFF , 268px 1112px #FFF , 1441px 1937px #FFF , 466px 1024px #FFF , 179px 178px #FFF , 335px 1238px #FFF , 2px 1021px #FFF , 1293px 1965px #FFF , 609px 1483px #FFF , 1279px 651px #FFF , 133px 508px #FFF , 504px 1993px #FFF , 787px 1094px #FFF , 1249px 422px #FFF , 888px 1498px #FFF , 1574px 1893px #FFF , 1800px 1564px #FFF , 1955px 1113px #FFF , 715px 747px #FFF , 462px 503px #FFF , 1920px 1122px #FFF , 1620px 1208px #FFF , 134px 1507px #FFF , 33px 274px #FFF , 514px 1857px #FFF , 611px 374px #FFF , 1188px 1354px #FFF , 535px 1301px #FFF , 189px 884px #FFF , 687px 372px #FFF , 175px 1746px #FFF , 736px 1720px #FFF , 410px 1900px #FFF , 1920px 709px #FFF , 520px 1747px #FFF , 193px 291px #FFF , 1598px 429px #FFF , 1158px 1491px #FFF , 1810px 1028px #FFF , 1326px 503px #FFF , 511px 724px #FFF , 1428px 1845px #FFF , 1861px 1509px #FFF , 1916px 222px #FFF , 55px 599px #FFF , 537px 1792px #FFF , 379px 1699px #FFF , 1785px 718px #FFF , 304px 447px #FFF , 338px 923px #FFF , 146px 1102px #FFF , 318px 214px #FFF , 1966px 470px #FFF , 285px 1452px #FFF , 1972px 987px #FFF , 364px 379px #FFF , 774px 682px #FFF , 357px 443px #FFF , 452px 1481px #FFF , 928px 978px #FFF , 1773px 939px #FFF , 209px 730px #FFF , 1036px 1878px #FFF , 1878px 643px #FFF , 1974px 1204px #FFF , 568px 1954px #FFF , 1876px 703px #FFF , 771px 969px #FFF , 633px 1005px #FFF , 1521px 722px #FFF , 187px 1833px #FFF , 607px 345px #FFF , 144px 1249px #FFF , 1061px 932px #FFF , 1808px 455px #FFF , 88px 1597px #FFF , 1669px 1783px #FFF , 1912px 1848px #FFF , 154px 1647px #FFF , 1166px 1528px #FFF , 1721px 1237px #FFF , 420px 1820px #FFF , 424px 865px #FFF , 949px 811px #FFF , 193px 1130px #FFF , 690px 209px #FFF , 496px 1371px #FFF , 189px 514px #FFF , 700px 530px #FFF , 150px 1997px #FFF , 471px 13px #FFF , 1841px 733px #FFF , 1501px 131px #FFF , 1051px 122px #FFF , 552px 528px #FFF , 182px 1935px #FFF , 1974px 1065px #FFF , 517px 479px #FFF , 1560px 918px #FFF , 922px 127px #FFF , 877px 376px #FFF , 1943px 1372px #FFF , 1544px 184px #FFF , 704px 837px #FFF , 169px 1231px #FFF , 1799px 567px #FFF , 79px 1791px #FFF , 1263px 21px #FFF , 853px 1182px #FFF , 848px 1886px #FFF , 558px 1911px #FFF , 219px 300px #FFF , 908px 1537px #FFF , 1167px 1640px #FFF , 1478px 1335px #FFF , 555px 1625px #FFF , 526px 1202px #FFF , 642px 858px #FFF , 1460px 727px #FFF , 1145px 660px #FFF , 1565px 1381px #FFF , 1331px 1417px #FFF , 1078px 835px #FFF , 515px 1828px #FFF , 1896px 1378px #FFF , 836px 1480px #FFF , 740px 1276px #FFF , 587px 253px #FFF , 1293px 1172px #FFF , 853px 1479px #FFF , 1933px 1375px #FFF , 1933px 849px #FFF , 1592px 446px #FFF , 31px 1851px #FFF , 1062px 481px #FFF , 910px 470px #FFF , 531px 382px #FFF , 1038px 1901px #FFF , 866px 1667px #FFF , 1027px 1893px #FFF , 643px 1110px #FFF , 1864px 1079px #FFF , 247px 1175px #FFF , 594px 1540px #FFF , 604px 1284px #FFF , 1886px 557px #FFF , 1615px 945px #FFF , 893px 1474px #FFF , 1835px 1008px #FFF , 1001px 1370px #FFF , 1353px 810px #FFF , 1752px 1853px #FFF , 1755px 1445px #FFF , 1800px 1372px #FFF , 1586px 1641px #FFF , 767px 732px #FFF , 1947px 640px #FFF , 1489px 1237px #FFF , 1645px 1354px #FFF , 1008px 564px #FFF , 1236px 693px #FFF , 466px 1101px #FFF , 564px 180px #FFF , 292px 87px #FFF , 1640px 729px #FFF , 578px 303px #FFF , 475px 579px #FFF , 1481px 840px #FFF , 106px 357px #FFF , 1690px 166px #FFF , 166px 1281px #FFF , 872px 1330px #FFF , 1230px 160px #FFF , 4px 1913px #FFF , 1374px 311px #FFF , 1719px 641px #FFF , 804px 808px #FFF , 72px 1777px #FFF , 377px 1027px #FFF , 440px 885px #FFF , 1759px 1924px #FFF , 758px 1773px #FFF , 1737px 1843px #FFF , 471px 1472px #FFF , 1874px 723px #FFF , 720px 638px #FFF , 911px 1829px #FFF , 788px 1880px #FFF , 1539px 1032px #FFF , 1334px 1112px #FFF , 1335px 594px #FFF , 1239px 1738px #FFF , 893px 919px #FFF , 480px 1302px #FFF , 51px 489px #FFF , 629px 385px #FFF , 926px 1683px #FFF , 36px 935px #FFF , 527px 1537px #FFF , 695px 228px #FFF , 1284px 1845px #FFF , 1441px 622px #FFF , 1035px 825px #FFF , 817px 548px #FFF , 353px 88px #FFF , 631px 1168px #FFF , 153px 1060px #FFF , 727px 344px #FFF , 1656px 13px #FFF , 581px 159px #FFF , 1991px 218px #FFF , 73px 1655px #FFF , 1287px 1182px #FFF , 1593px 277px #FFF , 769px 99px #FFF , 248px 585px #FFF , 322px 1742px #FFF , 1059px 636px #FFF , 1086px 528px #FFF , 52px 77px #FFF , 1445px 67px #FFF , 1621px 977px #FFF , 433px 1398px #FFF , 411px 1411px #FFF , 1297px 845px #FFF , 66px 1851px #FFF , 207px 504px #FFF , 556px 1376px #FFF , 192px 1700px #FFF , 148px 1397px #FFF , 1669px 187px #FFF , 886px 406px #FFF , 112px 1477px #FFF , 1059px 1554px #FFF , 1005px 1101px #FFF , 349px 1468px #FFF , 633px 735px #FFF , 633px 258px #FFF , 116px 960px #FFF , 1973px 148px #FFF , 1216px 1552px #FFF , 797px 1458px #FFF , 1444px 260px #FFF , 1397px 874px #FFF , 525px 1567px #FFF , 961px 711px #FFF , 1190px 540px #FFF , 130px 8px #FFF , 492px 1322px #FFF , 1392px 1080px #FFF , 1775px 594px #FFF , 1207px 176px #FFF , 21px 1943px #FFF , 44px 1499px #FFF , 472px 423px #FFF , 1083px 670px #FFF , 827px 1003px #FFF , 765px 685px #FFF , 1604px 211px #FFF , 1722px 615px #FFF , 1474px 1002px #FFF , 321px 858px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 55px 1554px #FFF , 1606px 1980px #FFF , 523px 1876px #FFF , 1007px 323px #FFF , 970px 1922px #FFF , 972px 1970px #FFF , 676px 1419px #FFF , 1412px 970px #FFF , 1035px 609px #FFF , 1029px 349px #FFF , 1466px 682px #FFF , 988px 1696px #FFF , 1248px 1233px #FFF , 1840px 1951px #FFF , 637px 1107px #FFF , 1982px 180px #FFF , 581px 1736px #FFF , 377px 1363px #FFF , 1064px 204px #FFF , 1830px 1420px #FFF , 1528px 1152px #FFF , 720px 852px #FFF , 1169px 1360px #FFF , 973px 1808px #FFF , 1036px 697px #FFF , 1061px 1550px #FFF , 1542px 1184px #FFF , 323px 6px #FFF , 406px 1768px #FFF , 42px 1818px #FFF , 709px 1592px #FFF , 230px 1275px #FFF , 458px 1242px #FFF , 524px 390px #FFF , 970px 682px #FFF , 1024px 1112px #FFF , 746px 124px #FFF , 1529px 258px #FFF , 1324px 992px #FFF , 487px 1941px #FFF , 1715px 1436px #FFF , 657px 1391px #FFF , 1214px 117px #FFF , 1856px 1194px #FFF , 635px 1667px #FFF , 1257px 1960px #FFF , 811px 1473px #FFF , 1712px 588px #FFF , 653px 1298px #FFF , 252px 1835px #FFF , 796px 625px #FFF , 770px 514px #FFF , 1924px 1648px #FFF , 184px 952px #FFF , 184px 1750px #FFF , 1013px 274px #FFF , 1426px 512px #FFF , 1340px 1526px #FFF , 1628px 799px #FFF , 55px 913px #FFF , 746px 1952px #FFF , 1068px 1956px #FFF , 1754px 1256px #FFF , 207px 1621px #FFF , 296px 69px #FFF , 977px 1912px #FFF , 1768px 429px #FFF , 1907px 226px #FFF , 1053px 796px #FFF , 1271px 338px #FFF , 1153px 1759px #FFF , 1030px 509px #FFF , 875px 1070px #FFF , 1323px 1398px #FFF , 615px 484px #FFF , 1405px 333px #FFF , 77px 158px #FFF , 1024px 1127px #FFF , 646px 440px #FFF , 1407px 873px #FFF , 1320px 1801px #FFF , 977px 1618px #FFF , 1054px 278px #FFF , 1819px 1285px #FFF , 1702px 1876px #FFF , 1500px 642px #FFF , 299px 1691px #FFF , 921px 1403px #FFF , 1137px 194px #FFF , 1970px 1692px #FFF , 1634px 1414px #FFF , 249px 177px #FFF , 1967px 1271px #FFF , 569px 1190px #FFF , 96px 1749px #FFF , 463px 719px #FFF , 891px 758px #FFF , 1372px 254px #FFF , 1940px 1332px #FFF , 90px 1145px #FFF , 274px 269px #FFF , 1040px 1464px #FFF , 1138px 1784px #FFF , 503px 97px #FFF , 1755px 1830px #FFF , 1920px 1159px #FFF , 508px 1786px #FFF , 386px 1268px #FFF , 181px 714px #FFF , 780px 1683px #FFF , 1710px 47px #FFF , 1811px 1494px #FFF , 826px 1701px #FFF , 1623px 295px #FFF , 1384px 1307px #FFF , 673px 1572px #FFF , 937px 1275px #FFF , 1524px 1438px #FFF , 746px 976px #FFF , 187px 604px #FFF , 156px 392px #FFF , 1119px 496px #FFF , 1596px 840px #FFF , 79px 788px #FFF , 1939px 1588px #FFF , 1609px 642px #FFF , 1738px 1134px #FFF , 1680px 1467px #FFF , 624px 588px #FFF , 986px 585px #FFF , 1243px 933px #FFF , 916px 847px #FFF , 301px 1748px #FFF , 1659px 1500px #FFF , 1376px 375px #FFF , 1552px 1481px #FFF , 1820px 757px #FFF , 566px 1946px #FFF , 688px 855px #FFF , 981px 1331px #FFF , 1288px 1534px #FFF , 127px 1199px #FFF , 1505px 542px #FFF , 1523px 1541px #FFF , 497px 279px #FFF , 816px 1454px #FFF , 1503px 222px #FFF , 1991px 1351px #FFF , 635px 831px #FFF , 845px 1414px #FFF , 297px 611px #FFF , 1370px 1111px #FFF , 1624px 516px #FFF , 1318px 1842px #FFF , 393px 1086px #FFF , 1895px 963px #FFF , 1522px 638px #FFF , 956px 1168px #FFF , 108px 881px #FFF , 797px 522px #FFF , 941px 1120px #FFF , 1063px 402px #FFF , 1084px 913px #FFF , 764px 1510px #FFF , 1236px 301px #FFF , 1281px 252px #FFF , 729px 57px #FFF , 956px 1994px #FFF , 100px 215px #FFF , 412px 1681px #FFF , 1226px 166px #FFF , 1286px 199px #FFF , 1581px 1110px #FFF , 1457px 263px #FFF , 968px 1830px #FFF , 651px 1816px #FFF , 356px 1980px #FFF , 1226px 86px #FFF , 1398px 1799px #FFF , 1297px 945px #FFF , 133px 72px #FFF , 1210px 1482px #FFF , 856px 1006px #FFF , 254px 1746px #FFF , 1844px 1420px #FFF , 1341px 434px #FFF , 745px 1700px #FFF , 509px 714px #FFF , 1750px 1890px #FFF , 485px 636px #FFF , 809px 1331px #FFF , 476px 730px #FFF , 148px 1313px #FFF , 1998px 805px #FFF , 1684px 393px #FFF , 1477px 1452px #FFF , 1693px 881px #FFF , 1629px 1895px #FFF , 483px 1347px #FFF , 1528px 1248px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 55px 1554px #FFF , 1606px 1980px #FFF , 523px 1876px #FFF , 1007px 323px #FFF , 970px 1922px #FFF , 972px 1970px #FFF , 676px 1419px #FFF , 1412px 970px #FFF , 1035px 609px #FFF , 1029px 349px #FFF , 1466px 682px #FFF , 988px 1696px #FFF , 1248px 1233px #FFF , 1840px 1951px #FFF , 637px 1107px #FFF , 1982px 180px #FFF , 581px 1736px #FFF , 377px 1363px #FFF , 1064px 204px #FFF , 1830px 1420px #FFF , 1528px 1152px #FFF , 720px 852px #FFF , 1169px 1360px #FFF , 973px 1808px #FFF , 1036px 697px #FFF , 1061px 1550px #FFF , 1542px 1184px #FFF , 323px 6px #FFF , 406px 1768px #FFF , 42px 1818px #FFF , 709px 1592px #FFF , 230px 1275px #FFF , 458px 1242px #FFF , 524px 390px #FFF , 970px 682px #FFF , 1024px 1112px #FFF , 746px 124px #FFF , 1529px 258px #FFF , 1324px 992px #FFF , 487px 1941px #FFF , 1715px 1436px #FFF , 657px 1391px #FFF , 1214px 117px #FFF , 1856px 1194px #FFF , 635px 1667px #FFF , 1257px 1960px #FFF , 811px 1473px #FFF , 1712px 588px #FFF , 653px 1298px #FFF , 252px 1835px #FFF , 796px 625px #FFF , 770px 514px #FFF , 1924px 1648px #FFF , 184px 952px #FFF , 184px 1750px #FFF , 1013px 274px #FFF , 1426px 512px #FFF , 1340px 1526px #FFF , 1628px 799px #FFF , 55px 913px #FFF , 746px 1952px #FFF , 1068px 1956px #FFF , 1754px 1256px #FFF , 207px 1621px #FFF , 296px 69px #FFF , 977px 1912px #FFF , 1768px 429px #FFF , 1907px 226px #FFF , 1053px 796px #FFF , 1271px 338px #FFF , 1153px 1759px #FFF , 1030px 509px #FFF , 875px 1070px #FFF , 1323px 1398px #FFF , 615px 484px #FFF , 1405px 333px #FFF , 77px 158px #FFF , 1024px 1127px #FFF , 646px 440px #FFF , 1407px 873px #FFF , 1320px 1801px #FFF , 977px 1618px #FFF , 1054px 278px #FFF , 1819px 1285px #FFF , 1702px 1876px #FFF , 1500px 642px #FFF , 299px 1691px #FFF , 921px 1403px #FFF , 1137px 194px #FFF , 1970px 1692px #FFF , 1634px 1414px #FFF , 249px 177px #FFF , 1967px 1271px #FFF , 569px 1190px #FFF , 96px 1749px #FFF , 463px 719px #FFF , 891px 758px #FFF , 1372px 254px #FFF , 1940px 1332px #FFF , 90px 1145px #FFF , 274px 269px #FFF , 1040px 1464px #FFF , 1138px 1784px #FFF , 503px 97px #FFF , 1755px 1830px #FFF , 1920px 1159px #FFF , 508px 1786px #FFF , 386px 1268px #FFF , 181px 714px #FFF , 780px 1683px #FFF , 1710px 47px #FFF , 1811px 1494px #FFF , 826px 1701px #FFF , 1623px 295px #FFF , 1384px 1307px #FFF , 673px 1572px #FFF , 937px 1275px #FFF , 1524px 1438px #FFF , 746px 976px #FFF , 187px 604px #FFF , 156px 392px #FFF , 1119px 496px #FFF , 1596px 840px #FFF , 79px 788px #FFF , 1939px 1588px #FFF , 1609px 642px #FFF , 1738px 1134px #FFF , 1680px 1467px #FFF , 624px 588px #FFF , 986px 585px #FFF , 1243px 933px #FFF , 916px 847px #FFF , 301px 1748px #FFF , 1659px 1500px #FFF , 1376px 375px #FFF , 1552px 1481px #FFF , 1820px 757px #FFF , 566px 1946px #FFF , 688px 855px #FFF , 981px 1331px #FFF , 1288px 1534px #FFF , 127px 1199px #FFF , 1505px 542px #FFF , 1523px 1541px #FFF , 497px 279px #FFF , 816px 1454px #FFF , 1503px 222px #FFF , 1991px 1351px #FFF , 635px 831px #FFF , 845px 1414px #FFF , 297px 611px #FFF , 1370px 1111px #FFF , 1624px 516px #FFF , 1318px 1842px #FFF , 393px 1086px #FFF , 1895px 963px #FFF , 1522px 638px #FFF , 956px 1168px #FFF , 108px 881px #FFF , 797px 522px #FFF , 941px 1120px #FFF , 1063px 402px #FFF , 1084px 913px #FFF , 764px 1510px #FFF , 1236px 301px #FFF , 1281px 252px #FFF , 729px 57px #FFF , 956px 1994px #FFF , 100px 215px #FFF , 412px 1681px #FFF , 1226px 166px #FFF , 1286px 199px #FFF , 1581px 1110px #FFF , 1457px 263px #FFF , 968px 1830px #FFF , 651px 1816px #FFF , 356px 1980px #FFF , 1226px 86px #FFF , 1398px 1799px #FFF , 1297px 945px #FFF , 133px 72px #FFF , 1210px 1482px #FFF , 856px 1006px #FFF , 254px 1746px #FFF , 1844px 1420px #FFF , 1341px 434px #FFF , 745px 1700px #FFF , 509px 714px #FFF , 1750px 1890px #FFF , 485px 636px #FFF , 809px 1331px #FFF , 476px 730px #FFF , 148px 1313px #FFF , 1998px 805px #FFF , 1684px 393px #FFF , 1477px 1452px #FFF , 1693px 881px #FFF , 1629px 1895px #FFF , 483px 1347px #FFF , 1528px 1248px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1597px 701px #FFF , 1276px 1488px #FFF , 441px 335px #FFF , 1542px 1898px #FFF , 1596px 372px #FFF , 675px 1890px #FFF , 620px 1210px #FFF , 262px 1119px #FFF , 1486px 288px #FFF , 1167px 1844px #FFF , 1718px 937px #FFF , 1838px 381px #FFF , 44px 1182px #FFF , 751px 1660px #FFF , 1126px 1697px #FFF , 743px 1474px #FFF , 1746px 918px #FFF , 308px 1939px #FFF , 915px 361px #FFF , 531px 1438px #FFF , 1607px 313px #FFF , 1837px 1021px #FFF , 705px 1428px #FFF , 1897px 415px #FFF , 824px 265px #FFF , 1428px 786px #FFF , 894px 1168px #FFF , 394px 387px #FFF , 1554px 1524px #FFF , 1394px 1896px #FFF , 1758px 191px #FFF , 800px 1520px #FFF , 453px 424px #FFF , 1281px 1930px #FFF , 231px 293px #FFF , 78px 550px #FFF , 1974px 687px #FFF , 531px 1927px #FFF , 1363px 503px #FFF , 200px 804px #FFF , 1561px 1030px #FFF , 532px 910px #FFF , 665px 1937px #FFF , 317px 1126px #FFF , 407px 1130px #FFF , 1650px 590px #FFF , 1206px 1531px #FFF , 411px 1542px #FFF , 1284px 911px #FFF , 951px 711px #FFF , 1378px 1021px #FFF , 1056px 1173px #FFF , 1826px 1828px #FFF , 1498px 866px #FFF , 1413px 973px #FFF , 1013px 1143px #FFF , 1290px 119px #FFF , 850px 1780px #FFF , 1713px 1946px #FFF , 1552px 1383px #FFF , 348px 1149px #FFF , 916px 1665px #FFF , 555px 577px #FFF , 109px 1742px #FFF , 1066px 1195px #FFF , 404px 65px #FFF , 1535px 1311px #FFF , 1899px 252px #FFF , 1900px 1983px #FFF , 265px 1683px #FFF , 360px 178px #FFF , 1006px 1877px #FFF , 1824px 1018px #FFF , 1810px 956px #FFF , 1222px 431px #FFF , 491px 220px #FFF , 622px 125px #FFF , 1997px 1512px #FFF , 1411px 1231px #FFF , 1791px 1458px #FFF , 1063px 875px #FFF , 1987px 1096px #FFF , 1638px 913px #FFF , 904px 1839px #FFF , 1449px 742px #FFF , 233px 352px #FFF , 151px 1582px #FFF , 1709px 200px #FFF , 1994px 1128px #FFF , 344px 328px #FFF , 1757px 1815px #FFF , 1746px 552px #FFF , 1072px 931px #FFF , 865px 541px #FFF , 1545px 622px #FFF , 1260px 1103px #FFF , 947px 250px #FFF , 176px 1065px #FFF , 1290px 1023px #FFF , 1126px 1336px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1597px 701px #FFF , 1276px 1488px #FFF , 441px 335px #FFF , 1542px 1898px #FFF , 1596px 372px #FFF , 675px 1890px #FFF , 620px 1210px #FFF , 262px 1119px #FFF , 1486px 288px #FFF , 1167px 1844px #FFF , 1718px 937px #FFF , 1838px 381px #FFF , 44px 1182px #FFF , 751px 1660px #FFF , 1126px 1697px #FFF , 743px 1474px #FFF , 1746px 918px #FFF , 308px 1939px #FFF , 915px 361px #FFF , 531px 1438px #FFF , 1607px 313px #FFF , 1837px 1021px #FFF , 705px 1428px #FFF , 1897px 415px #FFF , 824px 265px #FFF , 1428px 786px #FFF , 894px 1168px #FFF , 394px 387px #FFF , 1554px 1524px #FFF , 1394px 1896px #FFF , 1758px 191px #FFF , 800px 1520px #FFF , 453px 424px #FFF , 1281px 1930px #FFF , 231px 293px #FFF , 78px 550px #FFF , 1974px 687px #FFF , 531px 1927px #FFF , 1363px 503px #FFF , 200px 804px #FFF , 1561px 1030px #FFF , 532px 910px #FFF , 665px 1937px #FFF , 317px 1126px #FFF , 407px 1130px #FFF , 1650px 590px #FFF , 1206px 1531px #FFF , 411px 1542px #FFF , 1284px 911px #FFF , 951px 711px #FFF , 1378px 1021px #FFF , 1056px 1173px #FFF , 1826px 1828px #FFF , 1498px 866px #FFF , 1413px 973px #FFF , 1013px 1143px #FFF , 1290px 119px #FFF , 850px 1780px #FFF , 1713px 1946px #FFF , 1552px 1383px #FFF , 348px 1149px #FFF , 916px 1665px #FFF , 555px 577px #FFF , 109px 1742px #FFF , 1066px 1195px #FFF , 404px 65px #FFF , 1535px 1311px #FFF , 1899px 252px #FFF , 1900px 1983px #FFF , 265px 1683px #FFF , 360px 178px #FFF , 1006px 1877px #FFF , 1824px 1018px #FFF , 1810px 956px #FFF , 1222px 431px #FFF , 491px 220px #FFF , 622px 125px #FFF , 1997px 1512px #FFF , 1411px 1231px #FFF , 1791px 1458px #FFF , 1063px 875px #FFF , 1987px 1096px #FFF , 1638px 913px #FFF , 904px 1839px #FFF , 1449px 742px #FFF , 233px 352px #FFF , 151px 1582px #FFF , 1709px 200px #FFF , 1994px 1128px #FFF , 344px 328px #FFF , 1757px 1815px #FFF , 1746px 552px #FFF , 1072px 931px #FFF , 865px 541px #FFF , 1545px 622px #FFF , 1260px 1103px #FFF , 947px 250px #FFF , 176px 1065px #FFF , 1290px 1023px #FFF , 1126px 1336px #FFF;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
