@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?30av41');
    src:  url('../fonts/icomoon.eot?30av41#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?30av41') format('truetype'),
      url('../fonts/icomoon.woff?30av41') format('woff'),
      url('../fonts/icomoon.svg?30av41#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-copy:before {
    content: "\e92c";
  }
  .icon-facebook:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-codepen:before {
    content: "\eae8";
  }
  
/* out */

/* global */

img {
    display: block;
    vertical-align: bottom;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', Times, serif;
    font-weight: normal;
    
}

a {
    transition: .4s;
    color: #0E69AF;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a:hover {
    color: #00BF8F;   
}
a:active { 
    color: #6BF0FF;
}
/* wrapers */

.wrapper {
    max-width: 1300px;
    /* border: solid 1px #f00; */
    box-sizing: border-box;
    margin: auto;
}
.wrapper-background {
    background: linear-gradient( to bottom, rgba( 0, 0, 0, .8), transparent);
}

/* button slide main menu aout */
  .bars {
    background: rgba( 0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    transition: 0.7s;
    cursor: pointer;
    transform: rotate(0) ;
    position: fixed;
    z-index: 2;
    display: none;
    top: 20px;
    left: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.bars.active {
    transform: rotate(360deg);
  }
  .bar {
    background: #fff;
    height: 10%;
    width: 70%;
    border-radius: 10px;
    transition: 0.7s;
  
  }
  
  
  .bars.active .bar:nth-of-type(1) {
    
    transform: rotate(-35deg) translate( -45%, 30%);
    width: 50%;
  }
  .bars.active .bar:nth-of-type(3) {
    
    transform: rotate(35deg) translate( -45%, -30%);
    width: 50%;
  }
/* header */


/* header hero */


.main-title-container {
    margin: 0;

    min-height: inherit;
    display: inline-table;
}

.main-title {
    margin: 0;
    font-size: 30px;
    line-height: 2em;
    letter-spacing: 8px;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    min-width: 150%;
    display: table-cell;
    vertical-align: middle;
}
.hero strong {
    transition: 0.4s;
}
.hero:hover strong {
    color: #00BF8F;
}
.hero {
    min-height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.hero-image-container  img{
    filter: grayscale(90%);
    transition: 0.4s;
    border-radius: 50%;
}

.hero:hover img{
    filter: grayscale(0);
}
.canvas-hero {
    position: absolute;
    z-index: -1;   
    background-color: #0E69AF;
}

.list-main-menu, figure, .main-title, body {
    margin: 0;
}
.hero-container {
    overflow: hidden;
    position: relative;
    
}


.header ul {
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;   
    
}
.header {
    /* background: linear-gradient( to bottom, rgba( 0, 0, 0, .8), transparent); */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    color: white;
    flex-wrap: wrap;
}
.header ul li {
    height: inherit;
}
.header a {
    height: inherit;
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.header a:hover {
    color: #00BF8F;
    text-decoration: none;
    box-shadow: 0 1px 0px #fff;
}
.logo {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    padding: 10px 20px;
}
.logo::before {
    content: "Da";
}

/* projects up */


.section-title{
    /* margin-left: 10px; */
    text-transform: uppercase;
    color: #0E69AF;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
    padding: 20px 10px;
    margin: 0;
}


.project {
    margin: 10px;
    padding: 10px;
    border: solid 1px #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* flex-wrap: wrap; */
}
.project > * {
    padding: 20px;
}

.project-title{
    margin: 0.3em 0 0.1em 0;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 10px;
}


.project-canvas {
    width: 100%;
    /* width: 600px; */
}
.project-details {
    width: 50%;
    display: block;
    align-self: flex-start;
}
.project-details h3, 
.project-details p {
    margin: 10px 0;
}
.project-about {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-figure-have-img {
    height: 300px;
    
}

.project-figure {
    width: 50%;
    /* min-width: 320px; */
    overflow-y: auto;
    /* background: hsl(50, 50%, 90%); */
}
.project-figure img {
    width: 100%;
}
.project-figure .movile-crossroad {
    width: 50%;
    min-width: 250px;
    margin: auto;
    display: none;
}
.project:nth-child(odd) .project-figure{
    order: -1;
}
/* toggle btn */
.btn-framework {
    border: solid 1px #000;
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-framework > div {
    transform: translateY(-16px);
    transition: .4s
}
.btn-framework > .active{
    transform: translateY( 5px);
    
}
.btn-framework > .btn-movile{
    opacity: 0;
    
}
.btn-framework > .opacity1{
    opacity: 1;
    
}
.btn-framework > .opacity0{
    opacity: 0;
    
}

/* projects down */
/* imagen toggle */

/* .two .animate-in-enter {
    
}
.two .animate-in-exit {

}
.two .animate-out-enter {
    
}
.two .animate-out-exit {

}
 */
/* experience */
.items-xp {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-xp {
    width: 450px;
    border: solid 1px #000;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}
.item-xp-figure {
    width: inherit;
    height: 200px;
    /* background: #0E69AF;; */
}
.item-xp-figure canvas {
    /* height: auto; */
    width: 100%;
}
.item-xp-figure > * {
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.item-xp-figure img {
    width: 100%;   
}
.item-xp-figure .img-high {
    width: auto;
}
.item-xp-details {
    transform: translateY(-50px);
    background: #fff;
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
.item-xp-details h3 {
    text-transform: capitalize;
    font-size: 1em;
    padding: 10px;
    margin: 0;
}
.item-xp-details p {
    text-align: left;
    font-size: .5em;
}
.btn-xp-container {
    /* background: red; */
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 0 20px 0;
}
.btn-xp-container a {
    background-color: #fff;
    /* color: #0E69AF; */
    width: 100px;
    display: block;
    margin: auto;
    padding: 5px 20px;
    border: solid 1px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.range-bar {
    margin: 10px;
    -webkit-appearance: none;
    /* width: 50%; */
    height: 10px;
    background: gray;
    border-radius: 20px;
    outline: 0;
  }
  .range-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: darkgray;
    cursor: pointer;
  }
/* footer */
.footer {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}
.footer article {
    width: 100%;
}
.big-quetion {
    padding: 20vh 0 10vh 0;
}
.big-quetion h3 {
    text-align: center;
    background: #0E69AF;
    line-height: 100%;
    

    margin: 0;
    font-size: 25px;
    line-height: 2em;
    letter-spacing: 8px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.contacts li{
    list-style: none;
    font-size: 50px;
}
.close-contact {
    text-align: center;
    padding: 10vh 0;
    font-size: 20px;
    
}
.close-contact > * {
    margin: 10px;
}
.copyright {
    color: rgba(255, 255, 255, 0.5);
    border-top: solid 1px ;
    /* width: 80%; */
    font-size: 16px;
    text-align: center;
}

/* media query */

@media screen and ( max-width: 1100px ) {
    .hero-image-container  img {
        height: 250px;
    }
    .main-title {
        font-size: 25px;
    }
}
@media screen and ( max-width: 768px ) {
    .main-title {
        line-height: 1.5em;
        letter-spacing: 6px;
        font-size: 22px;
    }

    .project {
        flex-wrap: wrap;
    }
    .project-figure {
        width: 80%;
        order: -1;
    }
    .project > * {
        margin: 0;
        padding: 0;
    }
    .project-details {
        text-align: center;
        width: auto;
    }
    .btn-framework {
        margin: auto;
    }
    .form-container {
        flex-wrap: wrap;
    }
    .footer article {
        width: 100%;
    }
}
@media screen and ( max-width: 870px ) {
    .header {
        justify-content: center;
    }
    .hero {
        flex-wrap: wrap;
        /* min-height: 100vh; */
        
    }
    .main-title-container {
        min-height: auto;
    }
    .hero-image-container {
        order: -1;
    }
    
}
@media screen and ( max-width: 530px ) {
    .bars {
        display: flex;
        top: 20px;
        left: 5px;
    }
    .bars.active {
        left: calc(100% - 50px);
        /* right: 0; */
    }
    .header a:hover {
        
        box-shadow: none;
    }
    .logo {
        font-size: 30px;
    }

    .project-figure {
        height: 200px;
    }
    .hero-image-container  img {
        height: 230px;
    }
    .main-menu {
        background: rgba(14, 105, 175, 1);
        left: -100vw;
        position: fixed;
        top: 0; bottom: 0;
        z-index: 1;
        width: 100%;
        transition: 0.7s;
    }
    .bars.active + .hero-container .main-menu {
        left: 0;
    }
    .main-menu ul {
        flex-direction: column;
        font-size: 30px;
    }

    .item-xp-figure {
        width: auto;

    }
    .item-xp-details {
        width: auto;
        margin: 10px;
        font-size: 28px;
    }
    .item-xp:first-child .item-xp-details {
        transform: translateY(0);
    }
}
